body {
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-custom-light {
  color: #f0f0f0;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
}

.navbar-brand img {
  width: 200px;
}

.shopping-cart img {
  width: 20px;
  filter: invert(100%);
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

#hero {
  font-family: 'Helvetica';
  /* src: url('/public/assets/fonts/made_voyager/MADEVoyagerPERSONALUSE-Regular.otf') format('opentype'); */
}

.card {
  background-color: black;
}

.card:hover {
  background-color: #1f1f1f;
}

#checkout-panel {
  background-color: #161616;
  border-radius: 8px;
}